*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
}
.page1{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url(img/bg.jpg);
    background-size: cover;
    padding: 66px 160px 30px;
}
.logo{
    width: 220px;
    height: 80px;
    background-image: url(img/logo.png);
    background-size: cover;
}
.page1_main_txt{
    color: #fff;
    font-size: 35px;
    font-family: 'Chakra Petch';
    margin-top: 80px;
}
.span_page1_main_txt{
    color: orange;
}
.page1_main_txt2{
    color: #fff;
    font-size: 22px;
    font-family: 'Chakra Petch';
    margin-top: 35px;
}
.page1_main_txt2_2{
    color: #fff;
    font-size: 22px;
    font-family: 'Chakra Petch';
    margin-top: 17px;
}
.page1_form{
    width: 400px;
    height: 185px;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    margin-top: 30px;
}
.page1_form_input{
    width: 100%;
    height: 56px;
    border-radius: 5px;
    border: none;
    border: 2px solid rgba(0, 0, 0, 0.2);
    font-size: 18px;
    font-family: 'Chakra Petch';
    color: #2F2F2F;
    padding: 0 0 0 20px;
    margin-bottom: 20px;
}
.page1_form_btn{
    width: 100%;
    height: 66px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    border-radius: 40px;
    font-family: 'Chakra Petch';
    font-size: 20px;
    font-weight: 700;
}
.page1_main_txt3{
    color: #9B9B9B;
    font-size: 14px;
    margin-top: 10px;
}
.page2{
    width: 100%;
    height: 650px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Chakra Petch';
    padding: 80px 0px;
}
.page2_main_txt{
    font-size: 50px;
    color: #fff;
    text-align: center;
    font-weight: 900;
}
.row_cards{
    width: 100%;
    height: 40%;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 130px;
}
.page2_btn{
    width: 392px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: orange;
    border-radius: 80px;
    font-weight: 900;
    font-size: 20px
}
.page2_card{
    width: 350px;
    height: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.card_logo{
    width: 117px;
    height: 117px;
    background-size: cover;
}
.card_logo1{
    background-image: url(img/p1.png);
}
.card_logo2{
    background-image: url(img/p2.png);
}
.card_logo3{
    background-image: url(img/p3.png);
}
.card_p{
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}
.page3{
    width: 100%;
    height: 100vh;
    display: flex;
}
.page3_left{
    width: 45%;
    height: 100vh;
    background-image: url(img/bcg2.jpg);
    background-size: cover;
}
.page3_right{
    width: 55%;
    height: 100vh;
    padding: 100px;
    background-color: #131313;
    background-image: url(img/fill.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Chakra Petch';
}
.row_p_page3{
    display: flex;
}
.ico_ok{
    width: 20px;
    height: 20px;
}
.p_row{
    font-size: 16px;
    color: #fff;
    margin-left: 18px;
}
.page3_main_txt{
    font-size: 40px;
    color: #fff;
    font-weight: 900;
}
.page3_txt{
    font-size: 22px;
    color: #fff;
}
.page3_btn{
    width: 265px;
    height: 66px;
    border-radius: 30px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 20px;
    font-weight: 900;
}
.page4{
    width: 100%;
    height: 1268px;
    padding: 120px 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Chakra Petch';
    background-image: url(img/bcg3.png);
    background-size: cover;
}
.page4_main_txt{
    font-weight: 900;
    font-size: 40px;
    color: #fff;
}
.page4_top{
    width: 100%;
    height: 426px;
    margin-top: 65px;
    display: flex;
}
.page4_bottom{
    width: 100%;
    height: 483px;
    display: flex;
}
.footer{
    width: 100%;
    height: 60px;
    background-color: #191919;
    padding: 0 165px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_p{
    color: #fff;
    font-family: 'Chakra Petch';
    font-weight: 500;
    font-size: 12px;
}
.ph1{
    width: 392px;
    height: 426px;
}
.top_left{
    width: 628px;
    height: 100%;
    padding: 30px 0 100px 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top_main_txt{
    font-family: 'Chakra Petch';
    font-size: 32px;
    color: orange;
    font-weight: 700;
}
.top_p1{
    font-family: 'Chakra Petch';
    font-weight: 500;
    font-size: 22px;
    color: #fff;
}
.top_p2{
    font-family: 'Chakra Petch';
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}
.ph2{
    width: 457px;
    height: 457px;
}
.bottom_left{
    height: 100%;
    width: 565px;
    padding: 75px 0 0 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bottom_btn{
    width: 400.28px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    border-radius: 40px;
    font-weight: 900;
    font-size: 20px; 
}
